<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <!-- 필수 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
            android:label="안전 운전"
            android:name="${applicationName}"
            android:icon="@mipmap/ic_launcher"
            android:enableOnBackInvokedCallback="true"
            android:usesCleartextTraffic="true">

        <meta-data android:name="com.google.android.geo.API_KEY"
                   android:value="AIzaSyBMCHeJKF1iX_QjP_CshPwMX78Fx5A9NxU"/>

        <!-- Main Activity 설정 -->
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:launchMode="singleTop"
                android:taskAffinity=""
                android:theme="@style/LaunchTheme"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
                android:hardwareAccelerated="true"
                android:windowSoftInputMode="adjustResize"
                android:showWhenLocked="true"
                android:turnScreenOn="true">

            <!-- Flutter 기본 설정 -->
            <meta-data
                    android:name="io.flutter.embedding.android.NormalTheme"
                    android:resource="@style/NormalTheme"
            />
            <meta-data
                    android:name="com.google.firebase.messaging.default_notification_channel_id"
                    android:value="high_importance_channel"
            />

            <!-- 알림 클릭 시 처리 -->
            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 앱 실행 관련 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Firebase Messaging 서비스 등록 -->
        <service
                android:name="com.google.firebase.messaging.FirebaseMessagingService"
                android:exported="true"
                tools:replace="android:exported">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- Flutter 기본 설정 -->
        <meta-data
                android:name="flutterEmbedding"
                android:value="2"/>

    </application>

    <!-- 앱이 처리할 수 있는 인텐트 쿼리 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>